body {
    font-family: sans-serif;
    margin: 0;
    background: lightgrey;
}

header {
    background: yellowgreen;
}

ul {
    margin: 0;
    padding: 5pt 0;
    display: flex;
}

li {
    margin: auto 5pt;
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    background: #7ea728;
}

h3, h1 {
    margin: 0;
    padding: 0 0 10pt;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

h1 {
    padding-top: 10pt;
}

.div_dialog {
    display: flex;
     margin: 5pt 10pt;
     border-bottom: 1px solid grey;
     padding: 5pt 10pt;
justify-content: space-between;
}

.div_dialog_exit {
    right: 0;
}

#content {
    background: white;
    display: table;
    margin: 10pt auto;
}

#dialog_create {
    margin: 5pt 10pt;
}

#friends_content {
}

#friends_add {
    padding: 5pt 10pt;
    border-bottom: 1px solid lightgrey;
}

#friends_columns {
    display: flex;
}

.friends_column {
    margin: 10pt 0pt 10pt;
}

.friends_cell {
    display: flex;
    padding: 5pt 10pt;
    border-bottom: 1px solid lightgrey;
}

.friends_cell:hover {
    background: lightgrey;
}

.friends_cell_main {
    display: flex;
    flex-direction: column;
}

.friends_cell_func_div {
    padding-left: 10pt;
}

.request_column {
    padding: 0pt 10pt 0pt;
    margin: 10pt 0pt 10pt;
    border-left: 1px solid lightgrey;
}

.request_cell {
    margin-bottom: 10pt;
    border-bottom: 1px solid lightgrey;
}

#profile_ul {
    line-height: 20pt;
    flex-direction: column;
}

.profile_label {
    width: 150pt;
    border-right: 1px solid lightgrey;
    margin-right: 5pt;
    padding-right: 5pt;
}

#form_row {
    display: flex;
    flex-direction: column;
    padding: 20pt;
}

.input_row {
    margin-bottom: 10pt;
}

#dialog {
    display: flex;
    position: relative;
}

#messages_div {
    padding: 5pt;
    width: 500pt;
    max-height: 400pt;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30pt;
}

#messages_div_form {
    position: absolute;
    background: white;
    padding: 5pt;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid black;
}

#dialog_control {
    padding: 5pt;
    border-left: 1px solid lightgrey;
}

.message {
    padding: 5pt;
    border-bottom: 1px solid lightgrey;
    display: flex;
}

.message_inf_date {
    font-size: 10pt;
    color: grey;
}

.message_text_block {
    margin-left: 10pt;
    padding-left: 10pt;
    border-left: 1px solid lightgrey;
}

#dialog_ul {
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    }

#dialog_control_actions {
        padding: 5pt;
}

#joined_rooms_div, #open_rooms_div {
    padding: 5pt;
}

#rooms_lists_div {
    display: flex;
}
